body{
  font-family:PMingLiU;
  text-align: justify;
  width: 1200px;
}
.main{
  float: left;
  width: 49%;
  line-height: 24px;
  overflow: auto;
}
p.inside{
  margin: 3em 1em;
}
nav.href{
  float: left;
  margin: 1em;
  width: 48%;
}
#img{
  width: 100%;
}
#classic{
  width: 70px;
}
.afterbox{
  clear: left;
}
#img:hover{
  opacity: 0.5;
}
span{
  font-size: 36px;
  color: #5487A2;
  font-weight: bold;
}
a{
  color: #D9E6C4;
}
a:hover{
  color: #67593B;
}
a:visited{
  color: blue;
}
.leftclassic{
  float: left;
  margin: 1em;
}
.house{
  float: left;
  width: 100px;
}
.clearfix{
  margin-left: 51%;
}
.footer{
  width: 50%;
  height: 100px;
  float:left;
  
}
.movie{
  background-color: #F1EDEA;
  width: 43%;
  float: left;
  margin: 10px;
}
