body{
  background: -webkit-linear-gradient(left,#F6ECF4,#E6F2E4);
  display: -webkit-flex;
}
input, select{
  display: inline-block;
  box-sizing: border-box;
  border-radius: 0px;
  -webkit-appearance: none;
  width: 250px;
  height: 55px;
  padding: 15px;
  font-size: 1.1em;
  border: none;
  box-shadow: none;
  background-color: rgb(248,248,248);
}
form{
  margin: auto;
}
.colorneed:valid{
  background-color: #9CE4D2;
}
.always{
  background-color: #23846D;
}
div {
  width: 250px;
  height: 570px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -285px 0 0 -125px;
}
